# Python virtual environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Local work
local_work/

# Checkpoints
checkpoints/

# Bridge
bridge/

# Github Actions Runner
actions-runner/
